body{
    background-color: burlywood;
}

#cat-img{
    border-radius: 10px;
    width: 500px;
}

h1{
    color: darkblue;
    font-size: 20px;
}

p{
    color: darkgreen;
}

div1{
    background-color: brown;
}

div2{
    background-color: blue;
}

div3{
    background-color: aliceblue;
}

div4{
    background-color: black;
}